@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #a11717;
}

#column-2 {
  background: #3033ec;
}

#column-3 {
  background: #7dd30c;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #707070;
  }

  .col-3 {
    width: 50%;
    height: 320px;
    float: left;
  }
  #column-1 {
    background-color: #770063;
  }

  #column-2 {
    background-color: #eb7ee3;
  }

  #column-3 {
    background-color: #381733;
  }

  footer {
    background-color: #707070;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #707070;
  }

  .col-3 {
    width: 33.3%;
    height: 320px;
    float: left;
  }

  #column-1 {
    background-color: #d2f89c;
  }

  #column-2 {
    background-color: #374425;
  }

  #column-3 {
    background-color: #7dd30c;
  }

  footer {
    background-color: #707070;
  }
   
}
